* {
    margin: 0;
    padding: 0;
    outline: none;
    font-family: "Candara Light", sans-serif;
}
body {
  background: #928E8E;
}
.cont h2{
  text-align: center;
  margin: 1em 0;
  padding: .6em 0;
  background: #C6C1C1;
}
.container {
  display: flex;
  margin: 100px;
  flex-direction: row-reverse;
}
.justify-content {
  justify-content: space-evenly;
}
.align-item {
  align-items: flex-start;
  justify-content: space-around;
}
.align-content {
  padding: 0;
  margin: 0;
  align-content: stretch;
  flex-wrap: wrap;
  justify-content: space-around;
}
.align-content .content{
  margin: 20px;
}
.flex-wrap{
  flex-flow: row wrap;
  align-items: flex-start;
  justify-content: space-around;
}
.flex-direction{
  flex-direction: column;
}
.order{
  order: 0;
  justify-content: space-evenly;
}
img{
  max-width: 330px;
}
p{
  font-size: 14px;
}
