* {
    margin: 0;
    padding: 0;
    outline: none;
    font-family: "Candara Light", sans-serif;
}
body {
  background: #928E8E;
}
.cont h2{
  text-align: center;
  margin: 1em 0;
  padding: .5em 0;
  background: #C6C1C1;
}
.container {
  display: flex;
  margin: 100px;
  flex-direction: row-reverse;
}
.justify-content {
  justify-content: space-evenly;
}
.align-item {
  align-items: flex-start;
  justify-content: space-around;
}
.align-content {
  align-content: stretch;
  flex-wrap: wrap;
  justify-content: space-around;
}
img{

  max-width: 330px;
}

p{
  font-size: 14px;
}
